<!DOCTYPE html>
<html>
  <head>
    <title>AFFIRM...powered by Evotech</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

		  <%= render 'devise/menu/registration_items' %>
		  <%= render 'devise/menu/login_items' %>
		
		<!-- Devise code 10/24/16 -->
		<!-- p class="notice">< %= notice %></p -->
    <p class="alert"><%= alert %></p>
		<!-- End devise code -->

    <%= yield %>

  </body>

	</br>
	<footer class="footer">Site Powered By: <a href="http://evotech.technology/"><%= image_tag "evo_logo.png", :class => "style_image"%></a></footer>

</html>
